[submodule "vendor/frontLib"]
	path = vendor/frontLib
	url = git://github.com/sorcerers/frontLib.git
[submodule "vendor/gh3"]
	path = vendor/gh3
	url = git://github.com/bolasblack/gh3.git
[submodule "vendor/js-yaml"]
	path = vendor/js-yaml
	url = git://github.com/nodeca/js-yaml.git
[submodule "vendor/marked"]
	path = vendor/marked
	url = git://github.com/chjj/marked.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/underscore-waterfall"]
	path = vendor/underscore-waterfall
	url = git://github.com/bolasblack/underscore-waterfall.git
[submodule "vendor/moment"]
	path = vendor/moment
	url = git://github.com/timrwood/moment.git
[submodule "vendor/ui-bootstrap"]
	path = vendor/ui-bootstrap
	url = git://github.com/angular-ui/bootstrap.git
[submodule "vendor/jquery.avgrund"]
	path = vendor/jquery.avgrund
	url = git://github.com/voronianski/jquery.avgrund.js.git
[submodule "public"]
	path = public
	url = https://github.com/bolasblack/bolasblack.github.com.git
