<style type="text/css">
.table tr:first-child td {
  border-top: 0; }
.table tr:hover {
  cursor: pointer;
  background: #f9f9f9; }

.article-list {
  margin-top: 30px; }
.article-list time {
  margin-left: 10px; }
.article-list .create-time {
  padding-left: 20px;
  text-align: right; }
</style>

<div class="article-list" data-ng-controller="PostListCtrl">
  <table class="table">
    <tr data-ng-repeat="post in posts" data-ng-click="showPost(post)">
      <td>{{post.getMetaData().title}}</td>
      <td class="create-time">@<time>{{post.getMetaData().create_at_str}}</time></td>
    </tr>
  </table>

  <div class="pagination-centered" data-pagination data-num-pages="pageCount()" data-current-page="currentPage" data-max-size="5" data-next-text="下一页" data-previous-text="上一页"></div>
</div>
